$headerBackground: url("../img/header_background_v1.jpg") no-repeat top/cover;
$fontStack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSize: 15px/24px;
$bodyBg: #ffffff;
$mainColor: #01acac;
$navLinkColor: #ececec;
$colorBtn: #ececec;
$border: #607d8b;
$titleColor: #010f16;
$postBg: #efefef;
$datePostColor: #e90303;
$titlePostColor: #0097a7;
$formColor: #52c3e8;